@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext");
.grid:after, .wrapper:after, .button__group:after, .crm__header:after, .crm__container:after, .crm__content:after, .store__ban_title-text:after, .store__filter:after, .store__filter_bottom:after, .send__traning:after, .send__traning_top:after, .send__traning_bottom:after, .send__traning_form:after {
  content: '';
  display: table;
  clear: both; }

.grid:before {
  content: '';
  display: table;
  clear: both; }

.shadow, .store__filter, .grid__cube .grid__item, .send__traning_drop-item {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html, body, .wrapper {
  height: 100%;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

body {
  font: 16px "Roboto";
  line-height: 1.2; }
  @media (max-width: 767px) {
    body {
      font-size: 14px; } }

input, textarea {
  outline: 0; }

a {
  text-decoration: none;
  outline: 0; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    outline: 0; }

a:not([class]) {
  color: #4785fc; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

.grid {
  margin-left: -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .grid__wrapper {
    padding-left: 20px;
    padding-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    float: left; }
    .grid__wrapper.width_1_1 {
      width: 100%; }
    .grid__wrapper.width_1_2 {
      width: 50%; }
    .grid__wrapper.width_1_3 {
      width: 33.3%; }
    .grid__wrapper.width_1_4 {
      width: 25%; }
    .grid__wrapper.width_1_5 {
      width: 20%; }
    .grid__wrapper.width_2_3 {
      width: 66%; }
    .grid__wrapper.width_3_4 {
      width: 75%; }
  .grid_1 .grid__wrapper {
    width: 100%; }
  .grid_2 .grid__wrapper {
    width: 50%; }
  .grid_3 .grid__wrapper {
    width: 33.3%; }
  .grid_4 .grid__wrapper {
    width: 25%; }
  .grid_5 .grid__wrapper {
    width: 20%; }

.icon-search:before {
  content: '';
  background-image: url("../img/zoom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 27px;
  display: inline-block; }

.text-lblue {
  color: #27a9f8; }

.wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 100%; }

.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: 1px solid #04be5b;
  border-radius: 3px;
  background-color: transparent;
  padding: 10px 15px;
  color: #04be5b;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  line-height: 1;
  text-align: center; }
  .button:hover {
    color: #fff;
    background-color: #04be5b;
    text-decoration: none; }
  .button.curve {
    border-radius: 25px;
    padding: 13px 15px;
    display: block; }
  .button__blue {
    color: #4785fc;
    border-color: #4785fc; }
    .button__blue:hover {
      color: #fff;
      background-color: #4785fc; }
  .button__green {
    color: #04be5b;
    border-color: #04be5b; }
    .button__green:hover {
      color: #fff;
      background-color: #04be5b; }
    .button__green--full {
      background-color: #04be5b;
      color: #fff;
      border-color: #04be5b; }
      .button__green--full:hover {
        color: #04be5b;
        background-color: transparent; }
  .button__red {
    color: red;
    border-color: red; }
    .button__red:hover {
      color: #fff;
      background-color: red; }
  .button__yellow {
    color: #efbb4f;
    border-color: #efbb4f; }
    .button__yellow:hover {
      color: #fff;
      background-color: #efbb4f; }
  .button__white {
    color: #222;
    border-color: #fff;
    background-color: #fff; }
    .button__white:hover {
      color: #fff;
      background-color: transparent; }
  .button__tag {
    border-color: #f5f8f9;
    background-color: #f5f8f9;
    color: #222222;
    font-size: 13px;
    padding: 4px 12px;
    border-radius: 12px;
    font-weight: 300; }
    .button__tag:hover {
      color: #222222;
      background-color: #e5edef; }
  .button__icon {
    max-width: 35px;
    font-size: 20px; }
  .button__drop {
    position: relative;
    padding-right: 25px; }
    .button__drop i {
      position: absolute;
      right: 10px;
      top: 9px;
      font-size: 16px; }
  .button__reverse {
    border-color: #ededed; }
    .button__reverse span {
      color: #ededed; }
    .button__reverse span:last-child {
      display: none; }
    .button__reverse:hover {
      background: #fff !important;
      border-color: #04be5b; }
      .button__reverse:hover span:last-child {
        display: inline;
        color: #04be5b; }
      .button__reverse:hover span:first-child {
        display: none; }
    .button__reverse.red:hover {
      background: #fff !important;
      border-color: red; }
      .button__reverse.red:hover span:last-child {
        display: inline;
        color: red; }
      .button__reverse.red:hover span:first-child {
        display: none; }

.button__group {
  margin-left: -10px; }
  .button__group > div {
    padding-left: 10px;
    float: left; }
  .button__group-2 > div {
    width: 50%; }
  .button__group-3 > div {
    width: 33.3%; }
  .button__group .button {
    font-size: 12px;
    width: 48%;
    padding: 10px 0; }

.crm__header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ededed;
  margin-top: -1px; }
  .crm__header_left {
    float: left;
    width: 20%;
    height: 75px;
    border-right: 1px solid #ededed; }
  .crm__header .menu_toggle {
    display: none; }
  .crm__header_center {
    overflow: hidden; }
  .crm__header .search {
    position: relative;
    margin-top: 17px;
    display: inline-block; }
    .crm__header .search input {
      width: 250px;
      padding: 12px 15px;
      border: 1px solid #ededed;
      border-radius: 30px;
      margin-left: 30px; }
    .crm__header .search i {
      position: absolute;
      right: 20px;
      top: calc(50% - 10px);
      font-size: 20px;
      color: #939aab; }
  .crm__header_right {
    float: right;
    height: 75px;
    display: table; }
    .crm__header_right i {
      color: #939aab;
      font-size: 20px; }
    .crm__header_right .drop {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 75px;
      width: 75px;
      border-left: 1px solid rgba(211, 211, 211, 0.6);
      cursor: pointer; }
    .crm__header_right .profile__img {
      width: 64%;
      height: 64%;
      display: inline-block;
      overflow: hidden;
      border-radius: 50%; }
  @media (max-width: 991px) {
    .crm__header {
      height: 60px; }
      .crm__header_left {
        width: 60px;
        height: 60px;
        text-align: center;
        white-space: nowrap; }
      .crm__header .search {
        margin-top: 9px; }
        .crm__header .search input {
          margin-left: 9px; }
      .crm__header .menu_toggle {
        display: block;
        line-height: 60px;
        font-size: 22px;
        color: #939aab;
        cursor: pointer; }
        .crm__header .menu_toggle:focus {
          color: #767f95; }
      .crm__header_right {
        height: 60px; }
        .crm__header_right .drop {
          width: 60px;
          height: 60px; } }
  @media (max-width: 767px) {
    .crm__header_center {
      float: left;
      overflow: initial; }
    .crm__header .search {
      display: none;
      position: absolute;
      top: 59px;
      padding: 10px;
      left: 0;
      right: 0;
      z-index: 10;
      background-color: #fff;
      height: 60px;
      margin-top: 0;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); }
      .crm__header .search input {
        width: 100%;
        margin: 0; }
      .crm__header .search__toggle {
        font-size: 20px;
        line-height: 60px;
        width: 60px;
        text-align: center;
        color: #939aab; }
        .crm__header .search__toggle:hover {
          text-decoration: none; }
      .crm__header .search.open {
        display: block; }
    .crm__header_right i {
      font-size: 16px; } }

.crm__container {
  top: 76px;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 20%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  background: #f8f9fc; }
  @media (max-width: 991px) {
    .crm__container {
      padding-left: 0;
      top: 60px; } }

.crm__menu {
  width: 20%;
  background: #fff;
  position: fixed;
  top: 76px;
  bottom: 0;
  z-index: 5;
  border-right: 1px solid #ededed;
  overflow-y: auto; }
  .crm__menu-list {
    padding: 9px 0 0 20px; }
  .crm__menu-item {
    position: relative;
    overflow: hidden;
    height: 66px;
    border-right: 5px solid transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .crm__menu-item:hover, .crm__menu-item.open {
      background: rgba(71, 133, 252, 0.1);
      border-right: 5px solid #4785fc;
      border-radius: 3px 0 0 3px; }
      .crm__menu-item:hover span, .crm__menu-item.open span {
        color: #333; }
      .crm__menu-item:hover i, .crm__menu-item.open i {
        color: #4785fc; }
    .crm__menu-item_accordeon:before {
      content: "\f107";
      font-family: 'FontAwesome';
      position: absolute;
      right: 18px;
      top: 21px;
      display: block;
      font-size: 20px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      color: #939aab;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .crm__menu-item_accordeon.open {
      height: auto;
      min-height: 66px; }
      .crm__menu-item_accordeon.open:before {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
      .crm__menu-item_accordeon.open .crm__menu-sub {
        margin-top: -10px; }
    .crm__menu-item_accordeon .crm__menu-item_name {
      padding-right: 40px; }
  .crm__menu-toggle {
    display: table;
    width: 100%;
    color: #939aab;
    font-weight: 500;
    height: 66px;
    font-size: 16px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer; }
    .crm__menu-toggle:hover {
      text-decoration: none; }
    .crm__menu-toggle > * {
      display: table-cell;
      vertical-align: middle; }
  .crm__menu i {
    padding: 0 10px 0 34px;
    font-size: 18px;
    width: 62px; }
  .crm__menu-sub {
    width: 100%;
    display: block;
    margin-bottom: 10px; }
    .crm__menu-sub_link {
      display: block;
      padding: 7px 15px 7px 61px;
      position: relative;
      padding-right: 30px;
      color: #939aab; }
      .crm__menu-sub_link:hover {
        color: #939aab;
        text-decoration: none;
        background-color: rgba(71, 133, 252, 0.1); }
  @media (max-width: 1199px) {
    .crm__menu-item i {
      padding-left: 20px; }
    .crm__menu-sub_link {
      padding: 7px 15px 7px 50px;
      font-size: 14px; } }
  @media (max-width: 991px) {
    .crm__menu {
      width: 250px;
      left: -250px;
      position: fixed;
      float: none;
      top: 60px;
      bottom: 0;
      -webkit-transition: left .3s;
      -o-transition: left .3s;
      transition: left .3s;
      z-index: 10; }
      .crm__menu-list {
        padding-left: 9px; }
      .crm__menu.open {
        left: 0; }
        .crm__menu.open .crm__menu-item_name {
          display: table-cell; } }

.crm__content {
  padding: 30px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767px) {
    .crm__content {
      padding: 10px; } }

.profile__persons {
  border-radius: 2px;
  background: #fff;
  width: 26%;
  float: left;
  margin-right: 30px; }
  .profile__persons-header {
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #eee;
    text-align: center; }
    .profile__persons-header .img-circle {
      display: inline-block;
      width: 140px;
      height: 140px;
      margin: 0 0 30px; }
      .profile__persons-header .img-circle img {
        display: block; }
    .profile__persons-header .button {
      width: 100%; }
  .profile__persons-title {
    font-size: 26px;
    margin-bottom: 15px; }
  .profile__persons-proof {
    color: #90a4ae;
    margin-bottom: 15px;
    font-size: 16px; }
  .profile__persons-info {
    padding: 0 30px 30px;
    line-height: 1.3;
    margin-top: 30px; }
    .profile__persons-info_names {
      color: #939aab;
      text-transform: uppercase;
      padding-left: 15px;
      position: relative;
      padding-left: 30px;
      margin: 15px 0; }
      .profile__persons-info_names i {
        color: #697286;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        font-size: 16px;
        margin-right: 5px; }
    .profile__persons-info_list {
      position: relative;
      margin: 15px 0; }
      .profile__persons-info_list li {
        padding: 15px 50px;
        text-transform: none;
        position: relative; }
        .profile__persons-info_list li .period {
          color: #ccc;
          font-size: 12px;
          font-weight: 300; }
        .profile__persons-info_list li p {
          font-size: 14px;
          font-weight: 500; }
        .profile__persons-info_list li::after {
          content: '';
          position: absolute;
          left: 21px;
          top: calc(50% - 3.5px);
          width: 7px;
          height: 7px;
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 50%; }
        .profile__persons-info_list li::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 100%;
          left: 25px;
          top: 30px;
          background: #eee; }
        .profile__persons-info_list li:last-child::before {
          height: 0; }
  .profile__persons .button {
    display: inline-block; }
    .profile__persons .button.curve {
      margin: 5px; }

.profile__events {
  height: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 2px; }

@media (max-width: 991px) {
  .profile__persons-header {
    padding: 15px; }
    .profile__persons-header .button {
      font-size: 14px;
      max-width: 300px; }
  .profile__persons-title {
    font-size: 22px;
    margin-bottom: 10px; }
  .profile__persons-proof {
    font-size: 14px;
    margin-bottom: 10px; } }

@media (max-width: 767px) {
  .profile__persons {
    float: none;
    width: 100%; } }

.aside {
  float: right; }
  @media (max-width: 1199px) {
    .aside {
      float: none; } }

.tab-menu {
  padding: 0 30px;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
  display: table; }
  .tab-menu__label {
    display: table-cell;
    text-align: center;
    padding: 22px 5px;
    color: #90a4ae;
    font-weight: 400;
    cursor: pointer; }
    .tab-menu__label:hover, .tab-menu__label.active {
      border-bottom: 3px solid #27a9f8;
      padding-bottom: 19px; }
  .tab-menu--short .tab-menu__label {
    display: inline-block;
    margin: 0 15px; }

.tab-content {
  position: relative; }
  .tab-content.disabled:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.8); }
  .tab-content__item {
    background: #fff;
    padding: 30px;
    display: none; }
  .tab-content .event {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f8f9fc;
    padding: 15px 30px 15px 15px;
    margin-bottom: 15px;
    text-align: left; }
    .tab-content .event img {
      height: 45px;
      border-radius: 50px; }
    .tab-content .event .button {
      width: 110px;
      background: transparent;
      text-align: center; }

@media (max-width: 991px) {
  .tab-menu {
    padding: 0 10px; }
  .tab-content__item {
    padding: 15px; } }

@media (max-width: 767px) {
  .tab-menu {
    display: block;
    padding: 0; }
    .tab-menu__label {
      display: block; }
  .tab-content__item {
    padding: 15px; } }

.img-circle {
  border-radius: 50%;
  overflow: hidden; }
  .img-circle img {
    display: block; }

.table__row {
  display: table;
  width: 100%; }
  .table__row_item {
    display: table-cell;
    padding: 5px; }
    .table__row_item .button__group {
      white-space: nowrap;
      text-align: right; }
      .table__row_item .button__group .button:not(:last-child) {
        margin-right: 10px; }
    .table__row_item:last-child {
      text-align: right; }
  .table__row_label {
    display: block; }
  .table__row_sub {
    display: block;
    color: #939aab; }
  .table__row + .table__row {
    margin-top: 15px; }

.event__content .table__row {
  background: #f8f9fc; }
  .event__content .table__row_item {
    padding: 12px 15px;
    vertical-align: middle;
    line-height: 1.5; }

.event__content .img-circle {
  display: inline-block;
  width: 45px; }

.event__content .button {
  width: 110px; }

@media (max-width: 1199px) {
  .event__content .table__row_item {
    padding: 12px 5px; }
  .event__content .button {
    width: 80px; }
    .event__content .button__drop {
      width: auto; } }

@media (max-width: 767px) {
  .event__content .table__row {
    display: block; }
    .event__content .table__row_item {
      display: block;
      padding: 15px;
      text-align: center; }
  .event__content .button {
    width: 100%; }
    .event__content .button__group {
      text-align: center; }
      .event__content .button__group .button {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        width: 46%; }
        .event__content .button__group .button__icon {
          padding: 9px; } }

.store__ban {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: -30px -30px 50px;
  position: relative;
  overflow: hidden; }
  .store__ban img {
    display: block; }
  .store__ban_title {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center; }
    .store__ban_title-text {
      vertical-align: middle;
      display: table-cell;
      padding: 30px;
      font-size: 42px;
      color: #ffffff; }
      .store__ban_title-text--bottom {
        vertical-align: bottom; }
    .store__ban_title-wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .store__ban_title-left {
      float: left;
      text-align: left; }
    .store__ban_title-right {
      float: right;
      text-align: right; }
    .store__ban_title-name {
      font-size: 30px;
      margin-bottom: 5px; }
    .store__ban_title-subname {
      font-size: 18px;
      color: #dfdfdf; }
    .store__ban_title-price {
      display: inline-block;
      font-size: 26px;
      margin-right: 15px; }
    .store__ban_title-btn {
      display: inline-block;
      vertical-align: middle; }
      .store__ban_title-btn .button {
        font-size: 18px;
        padding: 15px 25px; }

.store__filter {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: -100px auto 30px;
  max-width: 700px;
  position: relative; }
  .store__filter_search {
    position: relative;
    overflow: hidden; }
    .store__filter_search input {
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: #f5f8f9;
      padding: 10px 12px 10px 50px;
      width: 100%;
      color: #959ba9; }
      .store__filter_search input::-webkit-input-placeholder {
        color: #959ba9; }
      .store__filter_search input:-moz-placeholder {
        color: #959ba9; }
      .store__filter_search input::-moz-placeholder {
        color: #959ba9; }
      .store__filter_search input:-ms-input-placeholder {
        color: #959ba9; }
    .store__filter_search .icon-search {
      position: absolute;
      top: 5px;
      left: 12px;
      display: block; }
      .store__filter_search .icon-search:before {
        width: 20px; }
  .store__filter_btn {
    float: right;
    margin-left: 15px; }
  .store__filter_bottom {
    margin-top: 13px;
    margin-bottom: -2px; }
    .store__filter_bottom-label {
      float: left;
      margin: 6px 15px 5px 0;
      font-size: 13px;
      color: #9a9fab; }
    .store__filter_bottom-tags {
      overflow: hidden; }
      .store__filter_bottom-tags .button {
        margin: 2px 0; }
        .store__filter_bottom-tags .button:not(:last-child) {
          margin-right: 15px; }

@media (max-width: 991px) {
  .store__ban_title-text {
    padding-bottom: 50px; } }

@media (max-width: 767px) {
  .store__ban {
    min-height: 150px;
    margin: -10px -10px 10px; }
    .store__ban img {
      position: absolute;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      max-width: none; }
    .store__ban_title {
      max-width: 100%; }
      .store__ban_title-text {
        padding: 15px;
        font-size: 30px; }
      .store__ban_title-wrap {
        position: relative; }
      .store__ban_title-left {
        float: none;
        margin-bottom: 20px;
        text-align: center; }
      .store__ban_title-right {
        float: none;
        text-align: center; }
      .store__ban_title-price {
        display: block;
        margin-bottom: 10px; }
  .store__filter {
    margin: 10px 0;
    max-width: none;
    position: relative;
    padding: 15px;
    padding-bottom: 65px; }
    .store__filter_search {
      overflow: initial; }
    .store__filter_btn {
      float: none;
      position: absolute;
      bottom: 15px;
      margin-left: 0;
      left: 15px;
      right: 15px; }
    .store__filter_bottom-label {
      float: none; }
    .store__filter_bottom-tags .button:not(:last-child) {
      margin-right: 6px; } }

.grid__cube .grid__wrapper {
  width: 24.9%; }

.grid__cube .grid__item {
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 20px;
  text-align: center; }

.grid__cube_img {
  height: 65px;
  margin-bottom: 20px; }
  .grid__cube_img img {
    display: inline-block; }

.grid__cube_name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px; }

.grid__cube_subname {
  margin-bottom: 28px; }

.grid__cube_sub {
  color: #cdcfd5;
  margin-bottom: 30px; }

.grid__cube_btn + .grid__cube_btn {
  margin-top: 15px; }

.grid__cube_btn .button {
  width: 100%;
  max-width: 200px; }

.grid__cube .button {
  border-radius: 18px; }

@media (max-width: 991px) {
  .grid__cube .grid__wrapper {
    width: 49.9%; }
  .grid__cube .grid__item {
    padding: 40px 20px; } }

@media (max-width: 767px) {
  .grid__cube {
    margin-left: -10px; }
    .grid__cube .grid__wrapper {
      padding-left: 10px;
      padding-bottom: 10px; }
    .grid__cube .grid__item {
      padding: 40px 20px; } }

@media (max-width: 480px) {
  .grid__cube .grid__wrapper {
    width: 100%; }
  .grid__cube .grid__item {
    padding: 30px 20px; } }

.ban__traning {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  -webkit-box-shadow: 0 3px 5px rgba(34, 34, 34, 0.07);
  box-shadow: 0 3px 5px rgba(34, 34, 34, 0.07);
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  text-align: center;
  width: 300px;
  padding: 30px;
  margin: 30px 30px 30px 0; }
  .ban__traning_img {
    margin-bottom: 20px; }
  .ban__traning_text {
    color: #fff;
    font-size: 36px;
    margin-bottom: 60px; }
  .ban__traning_btn {
    background-color: #fff;
    border: 1px solid #fff;
    color: #222222;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 16px; }
    .ban__traning_btn:hover {
      background-color: transparent;
      color: #fff; }
  @media (max-width: 1599px) {
    .ban__traning {
      float: none;
      margin: 30px 30px 0 30px;
      width: auto;
      padding: 20px; }
      .ban__traning_img {
        width: 60px;
        margin-bottom: 10px; }
      .ban__traning_text {
        font-size: 30px;
        margin-bottom: 25px; } }

.send__traning {
  padding: 0 30px 30px;
  margin: 0 -30px 30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 10; }
  .send__traning_left {
    float: left; }
  .send__traning_right {
    float: right; }
  .send__traning_btn--quest {
    position: relative;
    padding-left: 44px; }
    .send__traning_btn--quest i {
      position: absolute;
      text-align: center;
      left: -1px;
      top: -1px;
      font-size: 18px;
      width: 36px;
      height: 36px;
      line-height: 34px;
      border-radius: 50%;
      border: 1px solid; }
  .send__traning .button {
    width: auto;
    border-radius: 18px; }
  .send__traning_bottom {
    display: none; }
    .send__traning_bottom-right {
      float: right;
      margin-bottom: 20px; }
    .send__traning_bottom-center {
      overflow: hidden;
      text-align: center;
      font-size: 22px;
      padding: 5px;
      margin-bottom: 20px; }
    .send__traning_bottom .button__group {
      margin: 0; }
      .send__traning_bottom .button__group .button {
        padding-left: 14px;
        padding-right: 14px; }
        .send__traning_bottom .button__group .button:first-child {
          margin-right: 15px; }
  .send__traning_form {
    text-align: center;
    background-color: #f8f9fc;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 -30px -30px;
    padding: 0 30px;
    border-top: 1px solid #eee; }
    .send__traning_form-label {
      text-align: left;
      margin-bottom: 10px; }
    .send__traning_form-field {
      position: relative;
      background-color: #fff;
      padding: 15px;
      -webkit-box-shadow: 0 3px 5px rgba(34, 34, 34, 0.07);
      box-shadow: 0 3px 5px rgba(34, 34, 34, 0.07);
      border-radius: 7px;
      border: 1px solid #ededed; }
  .send__traning_column-item {
    display: inline-block;
    margin: 30px;
    width: 40%; }
  .send__traning_column select {
    border-radius: 0;
    outline: 0;
    height: 35px;
    -webkit-appearance: none;
    line-height: 1;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    -o-text-overflow: '';
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    color: #90a4ae;
    border-radius: 7px;
    border: 1px solid #ededed;
    background-color: #fff;
    width: 100%;
    padding-left: 45px; }
    .send__traning_column select::-ms-expand {
      display: none; }
  .send__traning_drop-item {
    display: table;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left; }
    .send__traning_drop-item > div {
      display: table-cell;
      vertical-align: middle; }
  .send__traning_drop-img {
    width: 62px;
    padding: 10px 0 10px 15px; }
    .send__traning_drop-img img {
      border-radius: 50%; }
  .send__traning_drop-center {
    padding: 10px 5px 10px 15px; }
  .send__traning_drop-name {
    font-size: 16px;
    margin-bottom: 4px; }
  .send__traning_drop-proof {
    font-size: 12px;
    color: #b2bfc6; }
  .send__traning_drop-right {
    text-align: right;
    padding: 10px 15px 10px 0px; }
    .send__traning_drop-right .button {
      font-size: 12px;
      padding: 7px 12px;
      border-radius: 4px; }
  @media (max-width: 767px) {
    .send__traning {
      padding: 0 20px 10px; }
      .send__traning_top {
        text-align: center; }
      .send__traning_left {
        display: inline-block;
        float: none;
        margin-bottom: 5px; }
      .send__traning_right {
        display: inline-block;
        float: none;
        margin-bottom: 5px; }
      .send__traning_bottom-center {
        display: none; }
      .send__traning_bottom-right {
        float: none; }
      .send__traning_form {
        padding: 0 20px; }
      .send__traning_column-item {
        display: block;
        margin: 20px 0;
        padding-left: 10px;
        padding-right: 10px;
        width: auto; }
        .send__traning_column-item:last-child {
          margin-top: 21px; } }

.form-field {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  color: #222222;
  font-size: 13px;
  padding: 9px 10px; }
  .form-field::-webkit-input-placeholder {
    color: #eaeaea; }
  .form-field:-moz-placeholder {
    color: #eaeaea; }
  .form-field::-moz-placeholder {
    color: #eaeaea; }
  .form-field:-ms-input-placeholder {
    color: #eaeaea; }
  .form-field-search {
    position: relative; }
    .form-field-search input {
      padding-left: 45px;
      width: 100%; }
    .form-field-search i {
      color: #90a4ae;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 32px;
      top: 0;
      left: 0;
      position: absolute;
      border-right: 1px solid #eaeaea;
      border-radius: 5px; }

/*# sourceMappingURL=style.css.map */