//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext');

// Imports
@import 'variables/variables';
@import 'mixins/mixins';

@import 'core/reset';
@import 'core/hide-show';
@import 'core/grid';
@import 'core/icon';

//colors
$blue: #4785fc;
$light-blue: #27a9f8;
$green: #04be5b;
$light-gray: #f8f9fc;
$border-gray: #ededed;
$blue-gray: #939aab;
$lblue-gray: #90a4ae;

.text-lblue {
    color: $light-blue;
}
.shadow{
    @extend %shadow;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 100%;
    @extend %clear_a;
}

//button
.button {
    display: inline-block;
    text-decoration: none;
    outline: none;
    border: 1px solid $green;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px 15px;
    color: $green;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    &:hover {
        color: #fff;
        background-color: $green;
        text-decoration: none;
    }
    
    &.curve {
        border-radius: 25px;
        padding: 13px 15px;
        display: block;
    }
    &__blue {
        color: $blue;
        border-color: $blue;
        &:hover{
            color: #fff;
            background-color: $blue;
        }
    }
    &__green {
        color: $green;
        border-color: $green;
        &:hover{
            color: #fff;
            background-color: $green;
        }
    }
    &__red {
        color: red;
        border-color: red;
        &:hover{
            color: #fff;
            background-color: red;
        }
    }
    &__yellow {
        color: #efbb4f;
        border-color: #efbb4f;
        &:hover{
            color: #fff;
            background-color: #efbb4f;
        }
    }
    &__white {
        color: #222;
        border-color: #fff;
        background-color: #fff;
        &:hover{
            color: #fff;
            background-color: transparent;
        }
    }
    &__tag {
        border-color: #f5f8f9;
        background-color: #f5f8f9;
        color: #222222;
        font-size: 13px;
        padding: 4px 12px;
        border-radius: 12px;
        font-weight: 300;
        &:hover {
            color: #222222;
            background-color: darken(#f5f8f9, 5%);
        }
    }
    &__icon {
        max-width: 35px;
        font-size: 20px;
    }
    &__drop {
        position: relative;
        padding-right: 25px;
        i {
            position: absolute;
            right: 10px;
            top: 9px;
            font-size: 16px;
        }
    }
    &__reverse {
        border-color: $border-gray;
        span{
            color: $border-gray;
        }
        span:last-child{
            display: none;
        }
        &:hover{
            background: #fff !important;
            border-color: $green;
            span:last-child{
                display: inline;
                color: $green;
            }
            span:first-child{
                display: none;
                
            }
        }
        
        &.red:hover{
            background: #fff !important;
            border-color: red;
            span:last-child{
                display: inline;
                color: red;
            }
            span:first-child{
                display: none;
                
            }
        }
    }
}
.button__group {
    margin-left: -10px;
    @extend %clear_a;
    &>div {
        padding-left: 10px;
        float: left;
    }
    &-2 {
        > div {
            width: 50%;
        }
    }
    &-3 {
        > div {
            width: 33.3%;
        }
    }
    .button {
        font-size: 12px;
        width: 48%;
        padding: 10px 0;
    }
}
//header
.crm__header {
    width: 100%; 
    background: #fff;
    border-bottom: 1px solid $border-gray;
    margin-top: -1px;
    @extend %clear_a;
    &_left {
        float: left;
        width: 20%;
        height: 75px;
        border-right: 1px solid $border-gray;
    }
    .menu_toggle{
        display: none;
    }
    &_center {
        overflow: hidden;
    }
    .search {
        position: relative;
        margin-top: 17px;
        display: inline-block;
        input{
            width: 250px;
            padding: 12px 15px;
            border: 1px solid $border-gray;
            border-radius: 30px;
            margin-left: 30px;
            
        }    
        i {
            position: absolute;
            right: 20px;
            top: calc(50% - 10px);
            font-size: 20px;
            color: $blue-gray;
        }
    }
    &_right {
        float: right;
        height: 75px;
        display: table;
        i {
            color: $blue-gray;
            font-size: 20px;
        }
        .drop{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            height: 75px;
            width: 75px;
            border-left: 1px solid transparentize(#d3d3d3, .4);
            cursor: pointer;
        }
        .profile{
            &__img{
                width: 64%;
                height: 64%;
                display: inline-block;
                overflow: hidden;
                border-radius: 50%;
            }
        }
    }
    @media (max-width: 991px) {
        height: 60px;
        &_left {
            width: 60px;
            height: 60px;
            text-align: center;
            white-space: nowrap;
        }
        .search {
            margin-top: 9px;
            input {
                margin-left: 9px;
            }
        }
        .menu_toggle {
            display: block;
            line-height: 60px;
            font-size: 22px;
            color: $blue-gray;
            cursor: pointer;
            &:focus {
                color: darken($blue-gray, 10%);
            }
        }
        &_right {
            height: 60px;
            .drop {
                width: 60px;
                height: 60px;
            }
        }
    }
    @media (max-width: 767px) {
        &_center {
            float: left;
            overflow: initial;
            input {
                // display: none;
            }
        }
        .search {
            display: none;
            position: absolute;
            top: 59px;
            padding: 10px;
            left: 0;
            right: 0;
            z-index: 10;
            background-color: #fff;
            height: 60px;
            margin-top: 0;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
            // width: 100%;
            input {
                width: 100%;
                margin: 0;
            }
            &__toggle {
                font-size: 20px;
                line-height: 60px;
                width: 60px;
                text-align: center;
                color: $blue-gray;
                &:hover {
                    text-decoration: none;
                }
            }
            &.open {
                display: block;
            }
        }
        &_right {
            i {
                font-size: 16px;
            }
        }
    }
}

.crm__container {
    max-height: 100%;
    padding-left: 20%;
    overflow-x: hidden;
    overflow-y: auto;
    background: $light-gray;
    @extend %clear_a;
    @media (max-width: 991px) {
        padding-left: 0;
    }
}
//menu
.crm__menu {
    width: 20%;
    background: #fff;
    position: fixed;
    top: 76px;
    bottom: 0;
    z-index: 5;
    border-right: 1px solid $border-gray;
    overflow-y: auto;
    &-list {
        padding: 9px 0 0 20px;
    }
    &-item {
        position: relative;
        overflow: hidden;
        height: 66px;
        border-right: 5px solid transparent;
        transition: all .3s;
        &:hover,&.open {
            background: transparentize($blue, .9);
            border-right: 5px solid $blue;
            border-radius: 3px 0 0 3px;
            span {
                color: #333;
            }
            i {
                color: $blue;
            }
        }
        &_accordeon {
            &:before {
                content: "\f107";
                font-family: 'FontAwesome';
                position: absolute;
                right: 18px;
                top: 21px;
                display: block;
                font-size: 20px;
                transition: all .3s;
                color: $blue-gray;
                transform: rotate(-90deg);
            }
            &.open {
                height: auto;
                min-height: 66px;
                &:before {
                    transform: rotate(0deg);
                }
                .crm__menu {
                    &-sub {
                        margin-top: -10px;
                    }
                }
            }
            .crm__menu {
                &-item {
                    &_name {
                        padding-right: 40px;
                    }
                }
            }
        }
    }
    &-toggle {
        display: table;
        width: 100%;
        color: $blue-gray;
        font-weight: 500;
        height: 66px;
        font-size: 16px;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
        &>* {
            display: table-cell;
            vertical-align: middle;
        }
    }
    i {
        padding: 0 10px 0 34px;
        font-size: 18px;
        width: 62px;
    }        
    &-sub {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        &_item {
        }
        &_link {
            display: block;
            padding: 7px 15px 7px 73px;
            position: relative;
            padding-right: 30px;
            color: $blue-gray;
            &:hover{
                color: $blue-gray;
                text-decoration: none;
                background-color: transparentize($blue, .9);
            }
        }
    }
    @media (max-width: 1199px) {
        &-item {
            i {
                padding-left: 20px;
            }
            &_name {
                // display: none;
            }
        }
        &-sub {
            &_item {
            }
            &_link {
                padding: 7px 15px 7px 50px;
                font-size: 14px;
                &:hover{
                }
            }
        }
    }
    @media (max-width: 991px) {
        width: 250px;
        left: -250px;
        position: fixed;
        float: none;
        top: 60px;
        bottom: 0;
        transition: left .3s;
        z-index: 10;
        &-list {
            padding-left: 9px;
        }
        &.open {
            // transition: left .3s;
            left: 0;
            .crm__menu {
                &-item {
                    &_name {
                        display: table-cell;
                    }
                }
            }
        }
        &-item {
            i {

            }
            &_name {
                // display: none;
            }
        }
    }
}

//content
.crm__content {
    padding: 30px;
    position: relative;
    overflow: hidden;
    @extend %clear_a;
    @media (max-width: 767px) {
        padding: 10px;
    }
}

//profile__container
.profile {
    &__container {
    }
  
    &__persons {
        border-radius: 2px;
        background: #fff;
        width: 26%; 
        float: left;
        margin-right: 30px;
        &-header {
            padding: 30px;
            text-align: center;
            border-bottom: 1px solid #eee;
            text-align: center;
            .img-circle {
                display: inline-block;
                width: 140px;
                height: 140px;
                margin: 0 0 30px;
                img {
                    display: block;
                }
            }
            .button {
                width: 100%;
            }
        }
        &-title {
            font-size: 26px;
            margin-bottom: 15px;
        }
        &-proof {
            color: $lblue-gray;
            margin-bottom: 15px;
            font-size: 16px;
        }
        &-info {
            padding: 0 30px 30px;
            line-height: 1.3;
            margin-top: 30px;
            &_names {
                color: $blue-gray;
                text-transform: uppercase;
                padding-left: 15px;
                position: relative;
                padding-left: 30px;
                margin: 15px 0;
                i {
                    color: #697286;
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 0;
                    font-size: 16px;
                    margin-right: 5px;
                }
            }
            
            &_list {
                position: relative;
                margin: 15px 0;
                li{
                    padding: 15px 50px;
                    text-transform: none;
                    position: relative;
                    .period{
                        color: #ccc;
                        font-size: 12px;
                        font-weight: 300;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 500;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        left: 21px;
                        top: calc(50% - 3.5px);
                        width: 7px;
                        height: 7px;
                        background: #fff;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        left: 25px;
                        top: 30px;
                        background: #eee;
                        
                       
                    }
                    &:last-child::before{
                        height: 0;
                    }
                }
            }
        }
        .button {
            display: inline-block;
            &.curve {
                margin: 5px;
            }
            &__group {
                .curve {
                    // width: 66px;
                }
            }
        }    

    }

    &__events{
        height:  100%;
        background: #fff;
        overflow: hidden;
        border-radius: 2px;
    }
    
    @media (max-width: 991px) {
        &__persons {
            &-header {
                padding: 15px;
                .button {
                    font-size: 14px;
                    max-width: 300px;
                }
            }
            &-title {
                font-size: 22px;
                margin-bottom: 10px;
            }
            &-proof {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 767px) {
        &__persons {
            float: none;
            width: 100%;
        }
    }
}

.aside {
    float: right;
    @media (max-width: 1199px) {
        float: none;
    }
}


.tab {
    &-menu {
        padding: 0 30px;
        width: 100%;
        border-bottom: 1px solid #eee;
        background: #fff;
        display: table;
        &__label{
            display: table-cell;
            text-align: center;
            padding: 22px 5px;
            color: $lblue-gray;
            font-weight:  400 ;
            cursor: pointer;
            &:hover,&.active {
                border-bottom: 3px solid $light-blue;
                //color: $blue;
                padding-bottom: 19px;
            }
        }
        &--short {
            // width: auto;
            .tab-menu__label {
                display: inline-block;
                margin: 0 15px;
            }
        }

    }
    &-content {
        &__item {
            background: #fff;
            padding: 30px;
            display: none;
            &.active {

            }
        }
        .event{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $light-gray;
            padding: 15px 30px 15px 15px;
            margin-bottom: 15px;
            text-align: left;

            img{
                height: 45px;
                border-radius: 50px;
            }

            .button{
                width: 110px;
                background: rgba(0,0,0,0);
                text-align: center;
            }
        }

    }
    @media (max-width: 991px) {
        &-menu {
            padding: 0 10px;
            &__label {

            }
        }
        &-content {
            &__item {
                padding: 15px;
            }
        }
    }
    @media (max-width: 767px) {
        &-menu {
            display: block;
            padding: 0;
            &__label {
                display: block;
            }
        }
        &-content {
            &__item {
                padding: 15px;
            }
        }
    }
}

.img-circle {
    border-radius: 50%;
    overflow: hidden;
    img {
        display: block;
    }
}

.table__row {
    display: table;
    width: 100%;
    // table-layout: fixed;
    &_item {
        display: table-cell;
        padding: 5px;
        .button__group {
            white-space: nowrap;
            text-align: right;
            .button {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        &:last-child {
            text-align: right;            
        }
    }
    &_label {
        display: block;
    }
    &_sub {
        display: block;
        color: $blue-gray;
    }
    &+.table__row {
        margin-top: 15px;
    }
}

.event__content {
    .table__row {
        background: $light-gray;
        &_item {
            padding: 12px 15px;
            vertical-align: middle;
            line-height: 1.5;
        }
    }
    .img-circle {
        display: inline-block;
        width: 45px;
    }
    .button {
        width: 110px;
    }
    @media (max-width: 1199px) {
        .table__row {
            &_item {
                padding: 12px 5px;
            }
        }
        .button {
            width: 80px;
            &__drop {
                width: auto;
            }
        }
    }
    @media (max-width: 767px) {
        .table__row {
            display: block;
            &_item {
                display: block;
                padding: 15px;
                text-align: center;
            }
        }
        .button {
            width: 100%;
            &__group {
                text-align: center;
                .button {
                    width: auto;
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 46%;
                    &__icon {
                        padding: 9px;
                    }
                }
            }
        }
    }
}


// Store
.store {
    &__ban {
        @include box-sizing(content-box);
        margin: -30px -30px 50px;
        position: relative;
        overflow: hidden;
        img {
            display: block;
        }
        &_title {
            display: table;
            width: 100%;
            height: 100%;
            text-align: center;
            &-text {
                vertical-align: middle;
                display: table-cell;
                padding: 30px;
                font-size: 42px;
                color: #ffffff;
                @extend %clear_a;
                &--bottom {
                    vertical-align: bottom;
                }
            }
            &-wrap {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            &-left {
                float: left;
                text-align: left;
            }
            &-right {
                float: right;
                text-align: right;
            }
            &-name {
                font-size: 30px;
                margin-bottom: 5px;
            }
            &-subname {
                font-size: 18px;
                color: #dfdfdf;
            }
            &-price {
                display: inline-block;
                // vertical-align: middle;
                font-size: 26px;
                margin-right: 15px;
            }
            &-btn {
                display: inline-block;
                vertical-align: middle;
                .button {
                    font-size: 18px;
                    padding: 15px 25px;
                }
            }
        }
    }
    &__filter {
        @extend %shadow;
        @extend %clear_a;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        margin: -100px auto 30px;
        // margin-bottom: 30px;
        max-width: 700px;
        position: relative;
        &_search {
            position: relative;
            overflow: hidden;
            input {
                border: 1px solid transparent;
                border-radius: 5px;
                background-color: #f5f8f9;
                padding: 10px 12px 10px 50px;
                width: 100%;
                color: #959ba9;
                @include placeholder{
                    color: #959ba9
                };
            }
            .icon-search {
                position: absolute;
                top: 5px;
                left: 12px;
                display: block;
                &:before {
                    width: 20px;
                }
            }
        }
        &_btn {
            float: right;
            margin-left: 15px;
            .button {
            }
        }
        &_bottom {
            margin-top: 13px;
            margin-bottom: -2px;
            @extend %clear_a;
            &-label {
                float: left;
                margin: 6px 15px 5px 0;
                font-size: 13px;
                color: #9a9fab;
            }
            &-tags {
                overflow: hidden;
                .button {
                    margin: 2px 0;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .button {}
    @media (max-width: 991px) {
        &__ban {
            &_title {
                &-text {
                    padding-bottom: 50px;
                }
                &-wrap {
                }
            }
        }
        &__filter {
        }
    }
    @media (max-width: 767px) {
        &__ban {
            min-height: 150px;
            margin: -10px -10px 10px;
            img {
                position: absolute;
                top: 0;
                min-width: 100%;
                min-height: 100%;
                max-width: none;
            }
            &_title {
                max-width: 100%;
                &-text {
                    padding: 15px;
                    font-size: 30px;
                }
                &-wrap {
                    position: relative;
                }
                &-left {
                    float: none;
                    margin-bottom: 20px;
                    text-align: center;
                }
                &-right {
                    float: none;
                    text-align: center;
                }
                &-name {
                }
                &-subname {
                }
                &-price {
                    display: block;
                    margin-bottom: 10px;
                }
                &-btn {
                    .button {
                    }
                }
            }
        }
        &__filter {
            margin: 10px 0;
            max-width: none;
            position: relative;
            padding: 15px;
            padding-bottom: 65px;
            &_search {
                overflow: initial;
            }
            &_btn {
                float: none;
                position: absolute;
                bottom: 15px;
                margin-left: 0;
                left: 15px;
                right: 15px;
            }
            &_bottom {
                &-label {
                    float: none;
                }
                &-tags {
                    .button {
                        &:not(:last-child) {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}

.grid__cube {
    .grid {
        &__wrapper {
            width: 25%;
        }
        &__item {
            @extend %shadow;
            background-color: #fff;
            border-radius: 5px;
            padding: 40px 20px;
            text-align: center;
        }
    }
    &_img {
        height: 65px;
        margin-bottom: 20px;
        img {
            display: inline-block;
        }
    }
    &_name {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &_subname {
        margin-bottom: 28px;
    }
    &_sub {
        color: #cdcfd5;
        margin-bottom: 30px;
    }
    &_btn {
        +.grid__cube_btn {
            margin-top: 15px;
        }
        .button {
            width: 100%;
            max-width: 200px;
        }
    }
    .button {
        border-radius: 18px;
    }
    @media (max-width: 991px) {
        .grid {
            &__wrapper {
                width: 50%;
            }
            &__item {
                padding: 40px 20px;
            }
        }
    }
    @media (max-width: 767px) {
        margin-left: -10px;
        .grid {
            &__wrapper {
                padding-left: 10px;
                padding-bottom: 10px;
            }
            &__item {
                padding: 40px 20px;
            }
        }
    }
    @media (max-width: 480px) {
        .grid {
            &__wrapper {
                width: 100%;
            }
            &__item {
                padding: 30px 20px;
            }
        }
    }
}

.aside {
}

.ban__traning {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    box-shadow: 0 3px 5px rgba(34, 34, 34, 0.07);
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;
    width: 300px;
    padding: 30px;
    margin: 30px 30px 30px 0;
    &_img {
        margin-bottom: 20px;
    }
    &_text {
        color: #fff;
        font-size: 36px;
        margin-bottom: 60px;
    }
    &_btn {
        background-color: #fff;
        border: 1px solid #fff;
        color: #222222;
        border-radius: 20px;
        padding: 12px 20px;
        font-size: 16px;
        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
    @media (max-width: 1599px) {
        float: none;
        margin: 30px 30px 0 30px;
        width: auto;
        padding: 20px;
        &_img {
            width: 60px;
            margin-bottom: 10px;
        }
        &_text {
            font-size: 30px;
            margin-bottom: 25px;
        }
    }
}