header.crm__header

    // crm__header_left
    .crm__header_left
        .menu_toggle.fa.fa-reorder

    // right-buttons
    .crm__header_right
        a(href='#').drop.bell
            i.fa.fa-bell
        a(href='#').drop.bell
            i.fa.fa-envelope
        a(href='#').drop.profile
            .profile__img
                img(src='img/1.png')

    // search
    .crm__header_center
        a(href="#").fa.fa-search.search__toggle.visible-xs
        .search
            input(type='text' placeholder='Поиск')
            i.fa.fa-search
