.crm__menu
    ul.crm__menu-list
        li.crm__menu-item
            a(href='#').crm__menu-toggle
                i.fa.fa-user-o
                span.crm__menu-item_name Профиль

        li.crm__menu-item
            a(href='#').crm__menu-toggle
                i.fa.fa-copy
                span.crm__menu-item_name Уроки

        li.crm__menu-item.crm__menu-item_accordeon 
            a(href='#').crm__menu-toggle
              i.fa.fa-calculator
              span.crm__menu-item_name Тренировки
            ul.crm__menu-sub
                li.crm__menu-sub_item
                    a(href='#').crm__menu-sub_link Активный
                li.crm__menu-sub_item
                    a(href='#').crm__menu-sub_link Не активный
                li.crm__menu-sub_item
                    a(href='#').crm__menu-sub_link Не активный


        li.crm__menu-item.crm__menu-item_accordeon 
            span.crm__menu-toggle
                i.fa.fa-envelope-o
                span.crm__menu-item_name Сообщения             
            ul.crm__menu-sub
                li.crm__menu-sub_item
                    a(href='#').crm__menu-sub_link Активный
                li.crm__menu-sub_item
                    a(href='#').crm__menu-sub_link Не активный
                li.crm__menu-sub_item
                    a(href='#').crm__menu-sub_link Не активный

        li.crm__menu-item
            a(href='#').crm__menu-toggle
                i.fa.fa-tags
                span.crm__menu-item_name Промокоды

