extends templates/layout.jade

block title
    title Деление одночлена на одночлен

block content
    .wihite__box.shadow
        .page__header_title Деление одночлена на одночлен
        .lesson-full
            .lesson-full__p Последнее, что вам осталось научиться делать с одночленами – это делить их друг на друга. Тема очень простая и короткая. На какие одночлены можно делить и как это делать – все это вы узнаете из данной статьи.
            .lesson-full__title Как делить одночлены?
            .lesson-full__p Чтобы разделить один одночлен на другой, нужно:
                ol.lesson-full__list
                    li.lesson-full__item Записать их со знаком деления, то есть, дробью.
                    li.lesson-full__item Сократить эту дробь. Вот и все!
        .lesson-full
            .lesson-full__title Для просмотра данного урока целиком, просто купите его
            a.button.button__green Купить урок за 19,90 руб.