extends templates/auth.jade

block title
    title Login

block aside

block content
    .auth.login
        .auth__wrap
            // Форма авторизации
            form(action="").form#login_form
                .form__title Войти
    
                div.input__block
                    div.form-group.field-email.required.has-success
                        label(for="email").control-label.fa.fa-user
                        input(type="email" id="email" name="LoginForm[email]" placeholder="Введите ваш e-mail адрес" aria-required="true" aria-invalid="true").form-control
                        // Form error
                        .help-block
    
                div.input__block
                    div.form-group.field-password.required.has-error
                        label(for="password").control-label.fa.fa-lock
                        input(type="password" id="password" name="LoginForm[password]" placeholder="Введите ваш пароль" aria-required="true" aria-invalid="true").form-control
                        // Form error
                        .help-block
    
                div.lose
                    a(href="#").form__lose Забыли пароль?
                    button(type="submit").button.button__green--full Войти
    
                p.or или
    
                a(href="#").button.button__blue--full.through.google 
                    i.fa.fa-google
                    | Войти c помощью Google 

                .form__sub Вы еще не стали пользователем Арете Онлайн?  <br>
                    a(href="#" data-form-swich="register_form") Зарегистрируйтесь
                    |!
            // форма регистрации 
            form(action="").form.hide#register_form
                .form__title Добро пожаловать в Арете Онлайн!
            
                div.input__block
                    div.form-group.field-name.required
                        label(for="name").control-label.fa.fa-user
                        input(type="name" id="name" name="" placeholder="Введите ваше имя" aria-required="true" aria-invalid="true").form-control
                        // Form error
                        .help-block
    
                div.input__block
                    div.form-group.field-apprentice.required
                        label(for="apprentice").control-label.fa.fa-book
                        select(type="text" id="apprentice" name="" placeholder="Введите ваш e-mail адрес" aria-required="true" aria-invalid="true").form-control
                            option(value="Ученик 1-го класса") Ученик 1-го класса
                            option(value="Ученик 2-го класса") Ученик 2-го класса
                            option(value="Ученик 3-го класса") Ученик 3-го класса
                            option(value="Ученик 4-го класса") Ученик 4-го класса
                        // Form error
                        .help-block
    
                div.input__block
                    div.form-group.field-email.required.has-success
                        label(for="email").control-label.fa.fa-envelope-o
                        input(type="email" id="email" name="LoginForm[email]" placeholder="Введите ваш e-mail адрес" aria-required="true" aria-invalid="true").form-control
                        // Form error
                        .help-block
    
                div.input__block
                    div.form-group.field-password.required.has-error
                        label(for="password").control-label.fa.fa-lock
                        input(type="password" id="password" name="LoginForm[password]" placeholder="Введите ваш пароль" aria-required="true" aria-invalid="true").form-control
                        // Form error
                        .help-block Error
            
                button(type=submit).button.button__blue--full Начать бесплатно

                .form__sub Уже являетесь пользователем Арете Онлайн? 
                    a(href="#" data-form-swich="login_form") Войдите
                    |!

            // begin auth__slider 
            .auth__slider
                .auth__slider_item(style="background-image: url(img/auih.jpg)")
                    .auth__slider_text
                        .auth__slider_title Изучение теории 
                        p Уроки от Арете доступно объяснят любую тему из школьной программы. Многие уроки доступны бесплатно!

                .auth__slider_item(style="background-image: url(img/auih.jpg)")
                    .auth__slider_text
                        .auth__slider_title Изучение теории 
                        p Уроки от Арете доступно объяснят любую тему из школьной программы. Многие уроки доступны бесплатно!

                .auth__slider_item(style="background-image: url(img/auih.jpg)")
                    .auth__slider_text
                        .auth__slider_title Изучение теории 
                        p Уроки от Арете доступно объяснят любую тему из школьной программы. Многие уроки доступны бесплатно!

            // end auth__slider 
    
    // Promo    
    .promo

        .promo__line

            .promo__img
                img(src="img/nout-1.png", alt="")

            .promo__descr

                .promo__title Система образования подстроится под вас

                |Вам больше не придется читать множество ненужных текстов и решать скучные задачи. Учите то, что вам удобно. Так, как вам удобно.

        .promo__line.promo__line--invert

            .promo__img
                img(src="img/nout-2.png", alt="")

            .promo__descr

                .promo__title Изучайте теорию по урокам Арете Онлайн

                |Каждый урок описывает очень узкую тему. Вы можете выбрать и прочитать интересные уроки, а на остальные не обращать внимания! В уроках вы также найдете множество шпаргалок – почти все бесплатно!

        .promo__line

            .promo__img
                img(src="img/nout-3.png", alt="")

            .promo__descr

                .promo__title Создавайте тренировки специально для себя

                |Укажите нужное вам количество задач из каждой темы, и Арете Онлайн сделает все за вас. Система подберет вам случайные задачи из нашей базы. Все тренировки сохранятся в вашем профиле, и вы всегда сможете к ним вернуться.

    // begin infobox 
    .infobox

        .infobox__title Информация

        // begin infobox__grid
        .grid.grid_3.infobox__grid
            .grid__wrapper
                img(src="img/info1.png", alt="")
                .infobox__name Контакты
                .infobox__text Все необходимые материалы и принадлежности мы выдаем бесплатно.
                div
                    a(href="#").button.button__green--full Узнать больше
            .grid__wrapper
                img(src="img/info2.png", alt="")
                .infobox__name Реквизиты
                .infobox__text При записи на несколько курсов скидка. Больше учиться – выгодно!
                div
                    a(href="#").button.button__green--full Узнать больше
            .grid__wrapper
                img(src="img/info3.png", alt="")
                .infobox__name Политика конфиденциальности
                .infobox__text Мы сохраняем индивидуальный подход к каждому ученику.
                div
                    a(href="#").button.button__green--full Узнать больше
        // end infobox__grid
        
    // end infobox 
