extends templates/layout.jade

block title
    title Share material

block aside
    .aside.ban__traning.hidden-xs(style="background-image: url('img/ban-bg.jpg')")
        img.ban__traning_img(src="img/english-w.png", alt="") 
        .ban__traning_text Более 3000 готовых тренировок в нашем магазине 
        .button.ban__traning_btn Выбрать тренировку


block content
    .wihite__box.shadow
        .page__header_title Мои друзья
        .page__header_search-row
            .page__header_search
                input.page__header_input(type="text" placeholder="Введите любое имя")
                i.fa.fa-search.page__header_i
            a(href="#").button.button__green.page__header_btn Найти
        .tab-menu.tab-menu--short
            .tab-menu__label.active(data-tab="tab1") Тренировки
            .tab-menu__label(data-tab="tab2") Тестирования 
        .tab-content.profile__events
            .tab-content__item.event__content.show#tab1
                .send__traning
                    .send__traning_top 
                        .send__traning_left 
                            a(href="#" data-toggle="modal" data-target="#modal__faq").button.button__blue.send__traning_btn--quest 
                                i.fa.fa-question
                                |Вопросы и ответы
                        .send__traning_right 
                            a(href="#").button.button__green--full.send__traning_btn--send Отправить тренировку
                    .send__traning_bottom 
                        .send__traning_bottom-right 
                            .button__group
                                a(href="#").button.button__green.send__traning_btn--cancel Отменить
                                a(href="#").button.button__green--full Отправить
                        .send__traning_bottom-center Отправить тренировку 
                        .send__traning_form 
                            .send__traning_column 
                                .send__traning_column-item 
                                    .send__traning_form-label Выбрать получателя
                                    .send__traning_form-field 
                                        .form-field-search
                                            i.fa.fa-search 
                                            //- input(type="text" placeholder="Имя получателя").form-field
                                            select(name="")
                                                option(value="Имя получателя") Имя получателя
                                                option(value="Алексей Новак") Алексей Новак
                                                option(value="Алексей Новак") Алексей Новак
                                                option(value="Алексей Новак") Алексей Новак
                                    .send__traning_form-rezult 
                                        .send__traning_drop-item 
                                            .send__traning_drop-img 
                                                img(src="img/2.png", alt="") 
                                            .send__traning_drop-center
                                                .send__traning_drop-name Алексей Новак
                                                .send__traning_drop-proof Ученик 3-го класса
                                            .send__traning_drop-right 
                                                .button.button__green Добавить
                                        .send__traning_drop-item 
                                            .send__traning_drop-img 
                                                img(src="img/2.png", alt="") 
                                            .send__traning_drop-center
                                                .send__traning_drop-name Алексей Новак
                                                .send__traning_drop-proof Ученик 3-го класса
                                            .send__traning_drop-right 
                                                .button.button__green Добавить
                                .send__traning_column-item 
                                    .send__traning_form-label Выбрать тренировку
                                    .send__traning_form-field 
                                        .form-field-search
                                            i.fa.fa-search 
                                            //- input(type="text" placeholder="Название тренировки").form-field
                                            select(name="")
                                                option(value="Название тренировки") Название тренировки
                                                option(value="Математика") Математика
                                                option(value="Математика") Математика
                                                option(value="Математика") Математика
                                                option(value="Математика") Математика
                                    .send__traning_form-rezult 
                                        .send__traning_drop-item 
                                            .send__traning_drop-center
                                                .send__traning_drop-name Тренировка
                                                .send__traning_drop-proof Математика
                                            .send__traning_drop-right 
                                                .button.button__blue Праметры
                                                .button.button__red Удалить
                .table__row 
                    .table__row_item 
                        a(href="#") Тренировка
                    .table__row_item Математика
                    .table__row_item 3 класс
                    .table__row_item 30 заданий
                    .table__row_item 
                        .table__row_label От 
                        a(href="#") Евгений Воронов 
                    .table__row_item 
                        .table__row_label Кому 
                        a(href="#") Станислав Черкасов 
                    .table__row_item 
                        a(href="#but_drop").button.button__green.button__drop Действия 
                            i.fa.fa-angle-down
                        #but_drop.button__drop_wrap 
                - var x = 6;
                - for (var i = 1; i <= x; i++) {
                    .table__row 
                        .table__row_item 
                            a(href="#") Тренировка
                        .table__row_item Математика 
                            .table__row_sub 3 класс
                        .table__row_item 
                            .table__row_label От 
                            a(href="#") Евгений Воронов
                        .table__row_item 
                            .table__row_label Кому 
                            a(href="#") Станислав Черкасов
                        .table__row_item 
                            .button__group
                                a(href="#").button.button__green Открыть
                                a(href="#").button.button__blue.button__icon 
                                    i.fa.fa-paper-plane-o
                                a(href="#").button.button__yellow.button__icon 
                                    i.fa.fa-print
                                a(href="#").button.button__red.button__icon
                                    i.fa.fa-trash-o
                -}
            .tab-content__item.event__content#tab2
                - var x = 9;
                - for (var i = 1; i <= x; i++) {
                    .table__row 
                        .table__row_item 
                            a(href="#") Тренировка
                        .table__row_item Математика 
                            .table__row_sub 3 класс
                        .table__row_item 
                            .table__row_label От 
                            a(href="#") Евгений Воронов
                        .table__row_item 
                            .table__row_label Кому 
                            a(href="#") Станислав Черкасов
                        .table__row_item 
                            .button__group
                                a(href="#").button.button__green Открыть
                                a(href="#").button.button__blue.button__icon 
                                    i.fa.fa-paper-plane-o
                                a(href="#").button.button__yellow.button__icon 
                                    i.fa.fa-print
                                a(href="#").button.button__red.button__icon
                                    i.fa.fa-trash-o
                -}
    // begin Modal modal__faq 
    .modal.fade.modal-sm.modal__faq#modal__faq
        .modal-dialog
            .modal-content 
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal__promocode_wrap
                    .modal-header Вопросы и ответы
                        .modal-header__sub  Не смогли найти ответ на вопрос? Позвоните нам 8 800 555-55-55                        
                    .modal-body
                        .modal__faq_item
                            .modal__faq_left
                            .modal__faq_right
                                .modal__faq_question Какие выплаты положены работнику при увольнении по собственному желанию?
                                .modal__faq_answer В системе электронных сервисов онлайнинспекция.рф появилось новое мобильное приложение «Я – инспектор». Оно создано для пресечения нарушений и предупреждения несчастных случаев в одной из самых травмоопасных отраслей производства – строительстве. С помощью приложения Вы можете сообщить в государственную инспекцию труда о нарушениях, угрожающих жизни и здоровью работников, например, об
                        .modal__faq_item
                            .modal__faq_left
                            .modal__faq_right
                                .modal__faq_question Какие выплаты положены работнику при увольнении по собственному желанию?
                                .modal__faq_answer В системе электронных сервисов онлайнинспекция.рф появилось новое мобильное приложение «Я – инспектор». Оно создано для пресечения нарушений и предупреждения несчастных случаев в одной из самых травмоопасных отраслей производства – строительстве. С помощью приложения Вы можете сообщить в государственную инспекцию труда о нарушениях, угрожающих жизни и здоровью работников, например, об
                        .modal__faq_item
                            .modal__faq_left
                            .modal__faq_right
                                .modal__faq_question Какие выплаты положены работнику при увольнении по собственному желанию?
                                .modal__faq_answer В системе электронных сервисов онлайнинспекция.рф появилось новое мобильное приложение «Я – инспектор». Оно создано для пресечения нарушений и предупреждения несчастных случаев в одной из самых травмоопасных отраслей производства – строительстве. С помощью приложения Вы можете сообщить в государственную инспекцию труда о нарушениях, угрожающих жизни и здоровью работников, например, об
    // end modal modal__faq