extends templates/layout.jade

block title
    title Promocodes

block content
    .profile__persons.shadow
        .profile__persons-header
            .img-circle
                img(src='img/1.png')
            h3.profile__persons-title Алексей Умный
            .profile__persons-proof Преподаватель
            a.button.curve.button__green(href='#') Добавить в друзья
            button.button.curve.button__blue(href='#') Написать                    
            a.button.curve.button__reverse(href='#') 
                span first
                span second
            a.button.curve.button__reverse.button__red(href='#') 
                span first
                span second  
            .button__group.button__group-2
                div
                    a.button.curve принять                           
                div
                    a.button.curve.button__red отказать                            
        .profile__persons-info
            .profile__persons-info_names
                i.fa.fa-suitcase.profile__fa(aria-hidden="true")
                | образование
            ul.profile__persons-info_list
                li
                    p.period 2010 - 2016
                    p МГУ
                li
                    p.period 2002 - 2010
                    p Лицей                                    
                li
                    p.period 2002 - 2010
                    p Лицей                                                                    
            .profile__persons-info_names
                i.fa.fa-trophy.profile__fa(aria-hidden="true")
                | достижения
            ul.profile__persons-info_list
                li
                    p.period 2010 - 2011
                    p Сертификация
            .profile__persons-info_names
                i.fa.fa-lightbulb-o.profile__fa(aria-hidden="true")
                | навыки и умения
            .store__filter_bottom-tags.profile__bottom-tags
                a.button.button__tag.profile__button-tag(href="#") Английский язык
                a.button.button__tag.profile__button-tag(href="#") Умный
    .profile__events.shadow
        .tab-menu__wrap.tab-menu__wrap-with--btn
            a.button.curve.button__green.button__green-right(href='#') Пригласить друзей
            .tab-menu.tab-menu-left
                .tab-menu__label.tab-menu__label-left.active(data-tab="tab5") Мои промокоды
                .tab-menu__label.tab-menu__label-left(data-tab="tab6") Активированные
        .tab-content#width-check
            .tab-content__item.event__content.show#tab5
                .promocode.grid
                    .grid__wrapper.promocode__wrap
                        input(type="radio" name="promo" checked)#r1.promocode__radio
                        label(for="r1").promocode__item.promocode__item--active.promocode__item--checked
                            .promocode__left
                                .promocode__code B364CGHN0K
                                .promocode__gift 300 р. на бумажник
                                .promocode__time Доступен до 
                                    .promocode__date 18 Сентября 2018
                            a.promocode__right(href="#" data-toggle="modal" data-target="#modal__promocode")
                    .grid__wrapper.promocode__wrap
                        input(type="radio" name="promo")#r2.promocode__radio
                        label(for="r2").promocode__item.promocode__item--active
                            .promocode__left
                                .promocode__code DKFKTC4D
                                .promocode__gift Премиум-учитель на 3 месяца
                                .promocode__time Доступен до 
                                    .promocode__date 18 Декабря 2018
                            a.promocode__right(href="#" data-toggle="modal" data-target="#modal__promocode")
                .promocode__bottom 
                    input(type="text" placeholder="Или введите промокод здесь").promocode__field
                    button.button.button__green--full.button__round Активировать промокод
            .tab-content__item.event__content#tab6
                .promocode.grid
                    .grid__wrapper.promocode__wrap
                        .promocode__item
                            .promocode__left
                                .promocode__code B364CGHN0K
                                .promocode__gift 300 р. на бумажник
                                .promocode__time Доступен до 
                                    .promocode__date 18 Сентября 2018
                            a.promocode__right(href="#" data-toggle="modal" data-target="#modal__promocode")
                    .grid__wrapper.promocode__wrap
                        .promocode__item
                            .promocode__left
                                .promocode__code DKFKTC4D
                                .promocode__gift Премиум-учитель на 3 месяца
                                .promocode__time Доступен до 
                                    .promocode__date 18 Декабря 2018
                            a.promocode__right(href="#" data-toggle="modal" data-target="#modal__promocode")
                    .grid__wrapper.promocode__wrap
                        .promocode__item
                            .promocode__left
                                .promocode__code DKFKTC4D
                                .promocode__gift Премиум-учитель на 3 месяца
                                .promocode__time Доступен до 
                                    .promocode__date 18 Декабря 2018
                            a.promocode__right(href="#" data-toggle="modal" data-target="#modal__promocode")      
                    .grid__wrapper.promocode__wrap
                        .promocode__item
                            .promocode__left
                                .promocode__code B364CGHN0K
                                .promocode__gift 300 р. на бумажник
                                .promocode__time Доступен до 
                                    .promocode__date 18 Сентября 2018
                            a.promocode__right(href="#" data-toggle="modal" data-target="#modal__promocode")


    // http://joxi.ru/bmooOZYIx8bO1m
    // Button trigger modal modal__promocode
    // button(data-toggle="modal" data-target="#modal__promocode") Click to open modal
    // begin Modal modal__promocode 
    .modal.fade.modal__promocode#modal__promocode
        .modal-dialog
            .modal-content
                .modal__promocode_wrap
                    .modal-header Получайте бонусы за каждого приглашенного друга
                    
                    .modal-body
                        .modal-body_p Отправьте промокод вашему другу и пригласите его зарегистрироваться в Арете Онлайн. Как только он зарегистрирует учетную запись с этим промокодом, и он, и вы получите по 200 рублей в Арете-Бумажник.
                    
                    .modal-footer
                        .modal-footer_item.modal-footer-promocode DKFKTC4D
                        .modal-footer_item.button.button__green--full Скопировать промокод
    // end modal modal__no-purchase