extends templates/layout.jade

block title
    title Store

block content
    .store
        .store__ban
            img(src="img/store1.jpg", alt="")
            .store__ban_title-wrap
                .store__ban_title
                    .store__ban_title-text Более 8000 уроков онлайн <br>в нашем магазине

        .store__filter
            .store__filter_btn.button.button__green Найти уроки 
            .store__filter_search
                input(type="text" placeholder="Введите предмет или отдельную тему для поиска") 
                i.icon-search 
            .store__filter_bottom 
                .store__filter_bottom-label Популярное: 
                .store__filter_bottom-tags 
                    a(href="#").button.button__tag Английский язык 
                    a(href="#").button.button__tag Китайский язык 
                    a(href="#").button.button__tag Математика
                    a(href="#").button.button__tag ЕГЭ
                    a(href="#").button.button__tag ОГЭ 
        // begin grid__cube
        .grid.grid__cube(data-grid-match="")
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/matematika.png", alt="")
                    .grid__cube_name Математика 
                    .grid__cube_sub 490 уроков
                    .button.button__green Подробнее
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/chimic.png", alt="")
                    .grid__cube_name Химия 
                    .grid__cube_sub 350 уроков
                    .button.button__green Подробнее
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/phisic.png", alt="")
                    .grid__cube_name Физика 
                    .grid__cube_sub 350 уроков
                    .button.button__green Подробнее
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/matematika.png", alt="")
                    .grid__cube_name Математика 
                    .grid__cube_sub 490 уроков
                    .button.button__green Подробнее
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/chimic.png", alt="")
                    .grid__cube_name Химия 
                    .grid__cube_sub 350 уроков
                    .button.button__green Подробнее
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/phisic.png", alt="")
                    .grid__cube_name Физика 
                    .grid__cube_sub 350 уроков
                    .button.button__green Подробнее
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/english.png", alt="")
                    .grid__cube_name Английский язык 
                    .grid__cube_sub 350 уроков
                    .button.button__green Подробнее
        // end grid__cube
        




