extends templates/layout.jade

block title
    title Create Traning

block aside
    .aside.ban__traning.hidden-xs(style="background-image: url('img/ban-bg-green.jpg')")
        img.ban__traning_img(src="img/english-w.png", alt="") 
        .ban__traning_text Более 3000 готовых тренировок в нашем магазине 
        .button.ban__traning_btn Выбрать тренировку

block content
    .store
        .grid.grid__cube.grid__cube_tree(data-grid-match="")
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/matematika.png", alt="")
                    .grid__cube_name Математика 
                    .grid__cube_sub 490 уроков 
                    .store__create
                        .button.button__green.store__create_btn Создать тренировку 
                        .store__create_field 
                            .fa.fa-signal
                            .fa.fa-caret-down
                            select 
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/chimic.png", alt="")
                    .grid__cube_name Химия 
                    .grid__cube_sub 350 уроков 
                    .store__create
                        .button.button__green.store__create_btn Создать тренировку 
                        .store__create_field 
                            .fa.fa-signal
                            .fa.fa-caret-down
                            select 
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/phisic.png", alt="")
                    .grid__cube_name Физика 
                    .grid__cube_sub 350 уроков 
                    .store__create
                        .button.button__green.store__create_btn Создать тренировку 
                        .store__create_field 
                            .fa.fa-signal
                            .fa.fa-caret-down
                            select 
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/matematika.png", alt="")
                    .grid__cube_name Математика 
                    .grid__cube_sub 490 уроков 
                    .store__create
                        .button.button__green.store__create_btn Создать тренировку 
                        .store__create_field 
                            .fa.fa-signal
                            .fa.fa-caret-down
                            select 
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/chimic.png", alt="")
                    .grid__cube_name Химия 
                    .grid__cube_sub 350 уроков 
                    .store__create
                        .button.button__green.store__create_btn Создать тренировку 
                        .store__create_field 
                            .fa.fa-signal
                            .fa.fa-caret-down
                            select 
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
            .grid__wrapper
                .grid__item 
                    .grid__cube_img 
                        img(src="img/phisic.png", alt="")
                    .grid__cube_name Физика 
                    .grid__cube_sub 350 уроков 
                    .store__create
                        .button.button__green.store__create_btn Создать тренировку 
                        .store__create_field 
                            .fa.fa-signal
                            .fa.fa-caret-down
                            select 
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
                                option Выберите класс
