// colors
$blue: 							#4785fc;
$light-blue: 					#27a9f8;
$green: 						#04be5b;
$yellow: 						#efbb4f;
$light-gray: 					#f8f9fc;
$border-gray: 					#ededed;
$blue-gray: 					#939aab;
$lblue-gray: 					#90a4ae;

// fonts
$main_font_family:				'Roboto';

// Shodow
$shadow:						0px 2px 5px 0px rgba(0,0,0,0.1);

// grid
$grid_padding:					20px;