// colors
$blue: 							#4785fc;
$light-blue: 					#27a9f8;
$green: 						#04be5b;
$light-gray: 					#f8f9fc;
$border-gray: 					#ededed;
$blue-gray: 					#939aab;
$lblue-gray: 					#90a4ae;

// fonts
$main_font_family:				'Roboto';

// grid
$grid_padding:					20px;