.ban__traning {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    box-shadow: 0 3px 5px rgba(34, 34, 34, 0.07);
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;
    width: 300px;
    padding: 30px;
    margin: 30px 30px 30px 0;
    &_img {
        margin-bottom: 20px;
    }
    &_text {
        color: #fff;
        font-size: 36px;
        margin-bottom: 60px;
    }
    &_btn {
        background-color: #fff;
        border: 1px solid #fff;
        color: #222222;
        border-radius: 20px;
        padding: 12px 20px;
        font-size: 16px;
        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
    @media (max-width: 1599px) {
        float: none;
        margin: 30px 30px 0 30px;
        width: auto;
        padding: 20px;
        &_img {
            width: 60px;
            margin-bottom: 10px;
        }
        &_text {
            font-size: 30px;
            margin-bottom: 25px;
        }
    }
}
