.form {
    margin-bottom: 20px;
    &+.form {
        border-top: 1px solid $border-gray;
        padding-top: 20px;
    }
    &__row {
        @extend %clear_a;
        &+.form__row {
            margin-top: 15px;
        }
    }
    &__label {
        float: left;
        width: 200px;
        color: #90a4ae;
        font-weight: 400;
        margin: 8px 7px 7px 0;
        font-size: 15px;
    }
    &__control {
        overflow: hidden;
    }
    &__select {
        position: relative;
        display: inline-block;
        &:after {
           content: '‹';
           position: absolute;
           color: $border-gray;
           top: 50%;
           right: 13px;
           margin-top: -12px;
           font-size: 24px;
           transform: rotate(-90deg);
           
       }   
        select {
            border-radius: 0;
            outline: 0;
            height: 36px;
            -webkit-appearance: none;
            line-height: 1;
            /* for FF */
            -moz-appearance: none;
            text-indent: 0.01px; 
            text-overflow: '';
            /* for IE */
            -ms-appearance: none;
            appearance: none!important;
            color: #222222;
            border-radius: 5px;
            border: 1px solid $border-gray;
            background-color: #fff;
            // width: 100%;
            padding: 0 22px 0 10px;
            width: 170px;
            cursor: pointer;
            &::-ms-expand {
              display: none;
            }
            &:disabled {
                color: #90a4ae;
                cursor: default;
            }
        }

    }
    &__input {
        border-radius: 5px;
        border: 1px solid $border-gray;
        color: #222222;
        padding: 9px 10px 10px;
        width: 170px;
        @include placeholder{
            color: $blue-gray;
        };
        +.button {
            margin-left: 10px;
        }
        &:focus,&:hover {
            border: 1px solid $blue;
        }
    }
    &__field_icon {
        position: relative;
        .form__input,select {
            padding-left: 30px;
        }
        .fa {
            font-size: 16px;
            color: $blue-gray;
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 9px;
        }
    }
    input[type=checkbox],
    input[type=radio] {
        &:not(:disabled),
        &:not(:disabled) {
            cursor: pointer;
        }
        padding: 0;
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 1px solid #aaa;
        border-radius: 3px;
        overflow: hidden;
        margin-top: -4px;
        vertical-align: middle;
        -webkit-appearance: none;
        outline: 0;
        background: 0 0;
        text-align: center;
        position: relative;
        margin: 7px 7px 7px 0;
        &:before,
        &:before {
            display: block;
        }
        &:disabled,
        &:disabled {
            border-color: #ddd;
        }
        &:hover {
            border-color: $blue;
        }
        &:checked {
        }
    }
    input[type=radio] {
        border-radius: 50%;
    }
    input[type=radio]:checked {
        border: 1px solid $blue;
    }
    input[type=radio]:checked:before {
        content: '';
        width: 14px;
        height: 14px;
        top: 50%;
        left: 50%;
        margin-top: -7px;
        margin-left: -7px;
        display: block;
        position: absolute;
        border-radius: 50%;
        background: $blue;
    }
    input[type=checkbox]:checked:before,
    input[type=checkbox]:indeterminate:before {
        content: "✓";
        font-size: 18px;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        line-height: 20px;
        background-color: $blue;
        color: #fff;
    }
    input[type=radio]:disabled:checked:before {
        background-color: #aaa;
    }
    input[type=checkbox]:disabled:checked:before,
    input[type=checkbox]:disabled:indeterminate:before {
        color: #aaa;
    }

    .button {}
    @media (max-width: 767px) {
        &__label {
            float: none;
        }
        &__control {
            overflow: initial;
        }
    }
}
.form-field {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    color: #222222;
    font-size: 13px;
    padding: 9px 10px;
    @include placeholder{
        color: #eaeaea;
    };
    &-search {
        position: relative;
        input {
            padding-left: 45px;
            width: 100%;
        }
        i {
           color: $lblue-gray;
           width: 35px;
           height: 35px;
           text-align: center;
           line-height: 32px;
           top: 0;
           left: 0;
           position: absolute;
           border-right: 1px solid #eaeaea;
           border-radius: 5px;
        }
    }
}
//button
.button {
    display: inline-block;
    text-decoration: none;
    outline: none;
    border: 1px solid $green;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px 15px;
    color: $green;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    &:hover,&.active {
        color: #fff;
        background-color: $green;
        text-decoration: none;
    }
    
    &.curve {
        border-radius: 25px;
        padding: 13px 15px;
        display: block;
    }
    &__blue {
        color: $blue;
        border-color: $blue;
        &:hover,&.active {
            color: #fff;
            background-color: $blue;
        }
        &--full {
            background-color: $blue;
            color: #fff;
            border-color: $blue;
            &:hover {
                color: $blue;
                background-color: transparent;
            }
        }
    }
    &__green {
        color: $green;
        border-color: $green;
        &:hover,&.active {
            color: #fff;
            background-color: $green;
        }
        &--full {
            background-color: $green;
            color: #fff;
            border-color: $green;
            &:hover {
                color: $green;
                background-color: transparent;
            }
        }
    }
    &__red {
        color: red;
        border-color: red;
        &:hover,&.active {
            color: #fff;
            background-color: red;
        }
    }
    &__yellow {
        color: $yellow;
        border-color: $yellow;
        &:hover,&.active {
            color: #fff;
            background-color: $yellow;
        }
    }
    &__white {
        color: #222;
        border-color: #fff;
        background-color: #fff;
        &:hover{
            color: #fff;
            background-color: transparent;
        }
    }
    &__tag {
        border-color: #f5f8f9;
        background-color: #f5f8f9;
        color: #222222;
        font-size: 13px;
        padding: 4px 12px;
        border-radius: 12px;
        font-weight: 300;
        &:hover {
            color: #222222;
            background-color: darken(#f5f8f9, 5%);
        }
    }
    &__icon {
        max-width: 35px;
        font-size: 14px;
        padding: 10px 10px;
    }
    &__drop {
        position: relative;
        padding-right: 25px;
        i {
            position: absolute;
            right: 10px;
            top: 9px;
            font-size: 16px;
        }
    }
    &__reverse {
        border-color: $border-gray;
        span{
            color: $border-gray;
        }
        span:last-child{
            display: none;
        }
        &:hover{
            // background: #fff !important;
            // border-color: $green;
            span:last-child{
                display: inline;
                // color: $green;
            }
            span:first-child{
                display: none;
                
            }
        }
        
        &.red:hover{
            background: #fff !important;
            border-color: red;
            span:last-child{
                display: inline;
                color: red;
            }
            span:first-child{
                display: none;
                
            }
        }
    }
    &__question {
        position: relative;
        padding-left: 44px;
        border-radius: 18px;
        .fa {
            position: absolute;
            text-align: center;
            left: -1px;
            top: -1px;
            font-size: 18px;
            width: 36px;
            height: 36px;
            line-height: 34px;
            border-radius: 50%;
            border: 1px solid;
        }
    }
    &__round {
        border-radius: 18px;
    }
}

.button__group {
    margin-left: -10px;
    @extend %clear_a;
    &>div {
        padding-left: 10px;
        float: left;
    }
    &-2 {
        > div {
            width: 50%;
        }
    }
    &-3 {
        > div {
            width: 33.3%;
        }
    }
    .button {
        font-size: 12px;
        width: 48%;
        padding: 10px 0;
    }
    &_flip {
        float: right;
        display: inline-block;
        // width: auto;
        white-space: nowrap;
        @extend %clear_a;
        // .button {
        //     float: none;
        //     display: inline-block;
        // }
        .button:not(:last-child) {
            margin-right: 5px;
        }
        // .button:not(.button__icon) {
        //     width: auto;
        // }
    }
}
