// Grid
// ------------------------
// Example - for html
// <div class="grid grid__1_3 ">
//  	<div class="grid__wrapper">
// 			...
//  	</div>
//  	<div class="grid__wrapper">
// 			...
//  	</div>
//  	<div class="grid__wrapper">
// 			...
//  	</div>
// </div>
// ------------------------
.grid {
	margin-left: -$grid_padding;
	display: flex;
	flex-flow: row wrap;
	box-sizing: content-box;
	@extend %clear_all;
	&__wrapper {
		padding-left: $grid_padding;
		padding-bottom: $grid_padding;
		flex-grow: 0;
		flex-shrink: 1;
		// @include flex(0 1 auto);
		float: left;
		&.width {
			&_1_1 {
				width: 100%;
			}
			&_1_2 {
				width: 50%;
			}
			&_1_3 {
				width: 33.3%;
			}
			&_1_4 {
				width: 25%;
			}
			&_1_5 {
				width: 20%;
			}
			&_2_3 {
				width: 66%;
			}
			&_3_4 {
				width: 75%;
			}
		}
	}
	&__item {
		&.active {
			// border: 3px solid #ddd;
		}
	}
	&_1 {
		.grid__wrapper {		
			width: 100%;
		}
	}
	&_2 {
		.grid__wrapper {		
			width: 50%;
		}
	}
	&_3 {
		.grid__wrapper {
			width: 33.3%;
		}
	}
	&_4 {
		.grid__wrapper {		
			width: 25%;
		}
	}
	&_5 {
		.grid__wrapper {		
			width: 20%;
		}
	}
}
