.icon-search {
	&:before {
		content: '';
		background-image: url('../img/zoom.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 24px;
		height: 27px;
		display: inline-block;
	}
}

.icon-plus {
	position: relative;
	padding-left: 37px;
	line-height: 1;
	display: inline-block;
	&:before {
		content: '+';
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -12px;
		font-size: 20px;
		width: 24px;
		height: 24px;
		line-height: 24px;
		font-weight: 300;
		display: block;
		border: 1px solid;
		border-radius: 30px;
		text-align: center;
		background-color: $light-gray;
		z-index: 3;
	}
	&:hover {
		text-decoration: none;
		&:before {
			color: #fff;
			background-color: $blue;
		}
	}
	&--empty {
		&:before {
			content: '' !important;
		}
		&:hover {
			&:before {
				color: $blue;
				background-color: $light-gray;
			}
		}
	}
	&.active {
		&:before {
			content: '-';
		}
	}
}
