.store {
    &__ban {
        @include box-sizing(content-box);
        margin: -30px -30px 50px;
        position: relative;
        overflow: hidden;
        min-height: 320px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        img {
            display: block;
        }
        &_title {
            display: table;
            width: 100%;
            height: 100%;
            text-align: center;
            &-text {
                vertical-align: middle;
                display: table-cell;
                padding: 30px;
                font-size: 42px;
                color: #ffffff;
                @extend %clear_a;
                &--bottom {
                    vertical-align: bottom;
                }
            }
            &-wrap {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            &-left {
                float: left;
                text-align: left;
            }
            &-right {
                float: right;
                text-align: right;
            }
            &-name {
                font-size: 30px;
                margin-bottom: 5px;
            }
            &-subname {
                font-size: 18px;
                color: #dfdfdf;
            }
            &-price {
                display: inline-block;
                // vertical-align: middle;
                font-size: 26px;
                margin-right: 15px;
            }
            &-btn {
                display: inline-block;
                vertical-align: middle;
                .button {
                    font-size: 18px;
                    padding: 15px 25px;
                }
            }
        }
    }
    &__filter {
        @extend %shadow;
        @extend %clear_a;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        margin: -100px auto 30px;
        // margin-bottom: 30px;
        max-width: 700px;
        position: relative;
        &_search {
            position: relative;
            overflow: hidden;
            input {
                border: 1px solid transparent;
                border-radius: 5px;
                background-color: #f5f8f9;
                padding: 10px 12px 10px 50px;
                width: 100%;
                color: #959ba9;
                @include placeholder{
                    color: #959ba9
                };
            }
            .icon-search {
                position: absolute;
                top: 5px;
                left: 12px;
                display: block;
                &:before {
                    width: 20px;
                }
            }
        }
        &_btn {
            float: right;
            margin-left: 15px;
            .button {
            }
        }
        &_bottom {
            margin-top: 13px;
            margin-bottom: -2px;
            @extend %clear_a;
            &-label {
                float: left;
                margin: 6px 15px 5px 0;
                font-size: 13px;
                color: #9a9fab;
            }
            &-tags {
                overflow: hidden;
                .button {
                    margin: 2px 0;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .button {}
    @media (max-width: 991px) {
        &__ban {
            &_title {
                &-text {
                    padding-bottom: 50px;
                }
                &-wrap {
                }
            }
        }
        &__filter {
        }
    }
    @media (max-width: 767px) {
        &__ban {
            min-height: 150px;
            margin: -10px -10px 10px;
            img {
                position: absolute;
                top: 0;
                min-width: 100%;
                min-height: 100%;
                max-width: none;
            }
            &_title {
                max-width: 100%;
                &-text {
                    padding: 15px;
                    font-size: 30px;
                }
                &-wrap {
                    position: relative;
                }
                &-left {
                    float: none;
                    margin-bottom: 20px;
                    text-align: center;
                }
                &-right {
                    float: none;
                    text-align: center;
                }
                &-name {
                }
                &-subname {
                }
                &-price {
                    display: block;
                    margin-bottom: 10px;
                }
                &-btn {
                    .button {
                    }
                }
            }
        }
        &__filter {
            margin: 10px 0;
            max-width: none;
            position: relative;
            padding: 15px;
            padding-bottom: 65px;
            &_search {
                overflow: initial;
            }
            &_btn {
                float: none;
                position: absolute;
                bottom: 15px;
                margin-left: 0;
                left: 15px;
                right: 15px;
            }
            &_bottom {
                &-label {
                    float: none;
                }
                &-tags {
                    .button {
                        &:not(:last-child) {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}
