//header
.crm__header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%; 
    background: #fff;
    border-bottom: 1px solid $border-gray;
    margin-top: -1px;
    @extend %clear_a;
    &_left {
        float: left;
        width: 20%;
        height: 75px;
    }
    .burger{
        display: none;
    }
    &_center {
        overflow: hidden;
    }
    .search {
        position: relative;
        display: inline-block;
        border-left: 1px solid $border-gray;
        input{
            width: 250px;
            padding: 12px 15px;
            border: 1px solid $border-gray;
            border-radius: 30px;
            margin-left: 30px;
            
            & + i{
                position: absolute;
                right: 20px;
                top: calc(50% - 10px);
                font-size: 20px;
                color: $blue-gray;
            }
        }    
    }
    &_right {
        float: right;
        height: 75px;
        display: table;
        i{
            color: $blue-gray;
        }
        .drop{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            height: 75px;
            width: 75px;
            border-left: 1px solid transparentize(#d3d3d3, .4);
            cursor: pointer;
        }
        .profile{
            &__img{
                width: 71px;
                height: 71px;
                display: inline-block;
                overflow: hidden;
                border-radius: 50%;
            }
        }
    }
}
